<!--
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-2" ng-controller="dashboardRACIPerformance">       
        <ol class="list-group clear-list m-t" ng-model="RACITeam">
             <li class="list-group-item" ng-repeat="item in RACITeam">
                  <button type="button" ng-click="demo1(item.Name,item.Description)" class="btn btn-w-m btn-xs btn-link">{{item.Name}}</button>  
            </li>                 
        </ol>
    </div>
    <div class="col-sm-6">
        <div class="flot-chart dashboard-chart" ng-controller="dashboardRACIPerformance as chart">
            <div flot class="flot-chart-content" dataset="chart.flotData" options="chart.flotOptions"></div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="statistic-box">
            <h4>
                Task and Compliance %
            </h4>


            <div class="row text-center" ng-controller="chartJsCtrl as chart">
                <div class="col-lg-6" >
                        <canvas polarchart options="chart.polarOptions" data="chart.polarData"></canvas>
                    <h5>Compliance %</h5>
                </div>
                <div class="col-lg-6">
                        <canvas doughnutchart options="chart.doughnutOptions" data="chart.doughnutData"></canvas>
                    <h5>Task %</h5>
                </div>
            </div>
            <div class="m-t">
                <small></small>
            </div>

        </div>
    </div>

</div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content">
<div class="row">
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>New data for the report</h5> <span class="label label-primary">IN+</span>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <div>

                <div class="pull-right text-right">
                    <bar-chart data="main.BarChart.data" options="main.BarChart.options"></bar-chart>
                    <br/>
                    <small class="font-bold">$ 20 054.43</small>
                </div>
                <h4>NYS report new data!
                    <br/>
                    <small class="m-r"><a ui-sref="flot_chart"> Check the stock price! </a></small>
                </h4>
            </div>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Top 10 most urgent Tasks (vs RACI Team)</h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content no-padding">
            <ul class="list-group">
                <li class="list-group-item">
                    <p><a class="text-info" href="">@Alan Marry</a> I belive that. It is great for printing and typesetting industry.</p>
                    <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 minuts ago</small>
                </li>
                <li class="list-group-item">
                    <p><a class="text-info" href="">@Stock Man</a> Check this stock chart. This price is crazy! </p>

                    <div class="text-center m">
                        <span id="sparkline8"></span>
                    </div>
                    <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 hours ago</small>
                </li>
                <li class="list-group-item">
                    <p><a class="text-info" href="">@Kevin Smith</a> Unknown printer took a galley </p>
                    <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small>
                </li>
                <li class="list-group-item ">
                    <p><a class="text-info" href="">@Jonathan Febrick</a> Wonderful!</p>
                    <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 hour ago</small>
                </li>
                <li class="list-group-item">
                    <p><a class="text-info" href="">@Alan Marry</a> I belive that. </p>
                    <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 minuts ago</small>
                </li>
                <li class="list-group-item">
                    <p><a class="text-info" href="">@Kevin Smith</a> Let us keep up the good work! </p>
                    <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>RACI Role</h5>

            
            <div class="ibox-tools">
                <span class="label label-warning-light">10 Messages</span>
            </div>
        </div>
        <div class="ibox-content">

            <div>
                <div class="feed-activity-list">

                    <div class="feed-element">
                        <a ui-sref="profile" class="pull-left">
                            <img alt="image" class="img-circle" src="img/CB.png">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">5m ago</small>
                            <strong>Chithralekha Bhagwat</strong> posted a new blog. <br>
                            <small class="text-muted">Today 5:60 pm - 12.06.2014</small>

                        </div>
                    </div>

                    <div class="feed-element">
                        <a ui-sref="profile" class="pull-left">
                            <img alt="image" class="img-circle" src="img/CB.png">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">2h ago</small>
                            <strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
                            <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                        </div>
                    </div>
                    <div class="feed-element">
                        <a ui-sref="profile" class="pull-left">
                            <img alt="image" class="img-circle" src="img/RD.png">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">2h ago</small>
                            <strong>Rob</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
                            <small class="text-muted">2 days ago at 8:30am</small>
                        </div>
                    </div>
                    <div class="feed-element">
                        <a ui-sref="profile" class="pull-left">
                            <img alt="image" class="img-circle" src="img/EK.png">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right text-navy">5h ago</small>
                            <strong>Ed</strong> started following <strong>Monica Smith</strong>. <br>
                            <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                            <div class="actions">
                                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                            </div>
                        </div>
                    </div>
                    <div class="feed-element">
                        <a ui-sref="profile" class="pull-left">
                            <img alt="image" class="img-circle" src="img/LB.png">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">2h ago</small>
                            <strong>Leroy</strong> posted message on <strong>Monica Smith</strong> site. <br>
                            <small class="text-muted">Yesterday 5:20 pm - 12.06.2014</small>
                            <div class="well">
                                
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                            </div>
                        </div>
                    </div>
                    <div class="feed-element">
                        <a ui-sref="profile" class="pull-left">
                            <img alt="image" class="img-circle" src="img/VT.png">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">23h ago</small>
                            <strong>Monica Smith</strong>. <br>
                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                        </div>
                    </div>
                    <div class="feed-element">
                        <a ui-sref="profile" class="pull-left">
                            <img alt="image" class="img-circle" src="img/NG.png">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">46h ago</small>
                            <strong>Nela</strong> started following <strong>Monica Smith</strong>. <br>
                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>

            </div>

        </div>
    </div>

</div>
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Task % by User</h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content ibox-heading">
            <h3>You have meeting today!</h3>
            <small><i class="fa fa-map-marker"></i> Meeting is on 6:00am. Check your schedule to see detail.</small>
        </div>
        <div class="ibox-content inspinia-timeline">

            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-briefcase"></i>
                        6:00 am
                        <br/>
                        <small class="text-navy">2 hour ago</small>
                    </div>
                    <div class="col-xs-7 content no-top-border">
                        <p class="m-b-xs"><strong>Meeting</strong></p>

                        <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the
                            sale.</p>

                        <p><line-chart data="main.LineChart.data" options="main.LineChart.options"></line-chart></p>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-file-text"></i>
                        7:00 am
                        <br/>
                        <small class="text-navy">3 hour ago</small>
                    </div>
                    <div class="col-xs-7 content">
                        <p class="m-b-xs"><strong>Send documents to Mike</strong></p>

                        <p> Please find the current status of the
                            sale.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-coffee"></i>
                        8:00 am
                        <br/>
                    </div>
                    <div class="col-xs-7 content">
                        <p class="m-b-xs"><strong>Coffee Break</strong></p>

                        <p>
                            Please find the current status of the
                            sale.
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-phone"></i>
                        11:00 am
                        <br/>
                        <small class="text-navy">21 hour ago</small>
                    </div>
                    <div class="col-xs-7 content">
                        <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>

                        <p>
                           Please find the current status of the
                            sale.
                        </p>
                    </div>
                </div>
            </div>           
            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-comments"></i>
                        12:50 pm
                        <br/>
                        <small class="text-navy">48 hour ago</small>
                    </div>
                    <div class="col-xs-7 content">
                        <p class="m-b-xs"><strong>Chat with Monica and Sandra</strong></p>

                        <p>
                            Please find the current status of the
                            sale.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
</div>

</div>

</div>
<div class="small-chat-box ng-small-chat fadeInRight animated" ng-show="openChat">

    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
            02.19.2015
        </small>
        Small chat
    </div>

    <div class="content" chat-slim-scroll>

        <div class="left">
            <div class="author-name">
                Monica Jackson <small class="chat-date">
                10:02 am
            </small>
            </div>
            <div class="chat-message active">
                Lorem Ipsum is simply dummy text input.
            </div>

        </div>
        <div class="right">
            <div class="author-name">
                Mick Smith
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                Lorem Ipsum is simpl.
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                Alice Novak
                <small class="chat-date">
                    08:45 pm
                </small>
            </div>
            <div class="chat-message active">
                Check this stock char.
            </div>
        </div>
        <div class="right">
            <div class="author-name">
                Anna Lamson
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                The standard chunk of Lorem Ipsum
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                Mick Lane
                <small class="chat-date">
                    08:45 pm
                </small>
            </div>
            <div class="chat-message active">
                I belive that. Lorem Ipsum is simply dummy text.
            </div>
        </div>


    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
                class="btn btn-primary" type="button">Send
        </button> </span></div>
    </div>

</div>
<div id="small-chat" ng-click="openChat = !openChat">

    <span class="badge badge-warning pull-right">5</span>
    <a class="open-small-chat">
        <i class="fa fa-comments"></i>

    </a>
</div>-->
<!-- New York, Chiago, Seattle, Dallas,  -->
<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-lg-2" ng-controller= "homeController">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">On Time</span>
                <h5>Boston Division</h5>                
            </div>
            <div class="ibox-content">
                <div>
                        <c3chart bindto-id="gauge-plot1-chart">
                            <chart-column column-id="Data 1" column-color="#1ab394"
                                          column-values="80"
                                          column-type="gauge"/>
                            <chart-gauge min="50"
                                         max="100"
                                         units="Score"
                                         width="39"/>
                             <chart-events on-click-data="showClick(data)"/>
                        </c3chart>
                    </div>
                
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-warning pull-right">In Jeopardy</span>
                <h5>New York Division</h5>
            </div>
            <div class="ibox-content">
                 <div>
                        <c3chart bindto-id="gauge-plot2-chart">
                            <chart-column column-id="Data 2" column-color="#1ab394"
                                          column-values="70"
                                          column-type="gauge"/>
                            <chart-gauge min="50"
                                         max="100"
                                         units="Score"
                                         width="39"/>
                        </c3chart>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">OverDue</span>
                <h5>Chicago Division</h5>
            </div>
            <div class="ibox-content">
                <div>
                        <c3chart bindto-id="gauge-plot3-chart">
                            <chart-column column-id="Data 3" column-color="#1ab394"
                                          column-values="60"
                                          column-type="gauge"/>
                            <chart-gauge min="50"
                                         max="100"
                                         units="Score"
                                         width="39"/>
                        </c3chart>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">Low value</span>
                <h5>Seattle Division</h5>
            </div>
            <div class="ibox-content">
                <div>
                        <c3chart bindto-id="gauge-plot4-chart">
                            <chart-column column-id="Data 4" column-color="#1ab394"
                                          column-values="90"
                                          column-type="gauge" onClkick = "function() {alert('hi)}"/>
                            <chart-gauge min="50"
                                         max="100"
                                         units="Score"
                                         width="39"/>
                        </c3chart>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">Low value</span>
                <h5>Seattle Division</h5>
            </div>
            <div class="ibox-content">
                <div>
                        <c3chart bindto-id="gauge-plot5-chart">
                            <chart-column column-id="Data 5" column-color="#1ab394"
                                          column-values="90"
                                          column-type="gauge"/>
                            <chart-gauge min="50"
                                         max="100"
                                         units="Score"
                                         width="39"/>
                        </c3chart>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Cyber Security Program Compliance Trend</h5>

                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-white active">Today</button>
                        <button type="button" class="btn btn-xs btn-white">Monthly</button>
                        <button type="button" class="btn btn-xs btn-white">Annual</button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="flot-chart" ng-controller="dashboardFlotTwo as chart">
                            <div flot class="flot-chart-content" dataset="chart.flotData" options="chart.flotOptions"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <ul class="stat-list">
                            <li>
                                <h2 class="no-margins">4,356</h2>
                                <small>Total number of tasks in period</small>
                                <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                                <div class="progress progress-mini progress-striped active m-b-sm">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </li>
                            <li>
                                <h2 class="no-margins ">2,483</h2>
                                <small>Total number of tasks completed in period</small>
                                <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                                <div class="progress progress-mini progress-striped active m-b-sm">
                                    <div style="width: 60%;" class="progress-bar"></div>
                                </div>
                            </li>
                            <li>
                                <h2 class="no-margins ">57%</h2>
                                <small>Average Historical Compliance Percentage</small>
                                <div class="stat-percent">57% <i class="fa fa-bolt text-navy"></i></div>
                                <div class="progress progress-mini progress-striped active m-b-sm">
                                    <div style="width: 57%;" class="progress-bar"></div>
                                </div>
                            </li>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row">
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Pending High Priority Tasks</h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content ibox-heading">
            <h3> </h3>
            <small><i class="fa fa-tim"></i> Top 10 High Priority Tasks.</small>
        </div>

        <div class="ibox-content">
            <div class="feed-activity-list">

                <div class="feed-element">
                    <div>
                        <small class="pull-right text-navy">pending</small>
                        <strong>Establish Terms and Conditions</strong>

                        <div>Disseminate the access control procedures to *--ORGANIZATION-DEFINED PERSONNEL OR ROLES--* </div>
                        <small class="text-muted">Due : 1/8/2017</small>
                    </div>
                </div>

                <div class="feed-element">
                    <div>
                        <small class="pull-right">overdue</small>
                        <strong>Authorize Remote Access</strong>

                        <div>Establish a process for reissuing shared/group account credentials (if deployed) when individuals are removed from the group</div>
                        <small class="text-muted">Due : 1/1/2017</small>
                    </div>
                </div>

                <div class="feed-element">
                    <div>
                        <small class="pull-right">pending</small>
                        <strong>Enforce approved authorizations</strong>

                        <div>Enforce approved authorizations for logical access to information and system resources in accordance with applicable access control policies</div>
                        <small class="text-muted">Due : 1/7/2017</small>
                    </div>
                </div>

                <div class="feed-element">
                    <div>
                        <small class="pull-right">pending</small>
                        <strong>Display Privacy and Security Notices</strong>

                        <div>Review the proposed content of information prior to posting onto the publicly accessible information system to ensure that nonpublic information is not included </div>
                        <small class="text-muted">Due : 1/9/2017</small>
                    </div>
                </div>


                <div class="feed-element">
                    <div>
                        <small class="pull-right">pending</small>
                        <strong>Establish a Process for Reissuing Credentials</strong>

                        <div>Document and provide supporting rationale in the security plan for the information system, user actions not requiring identification or authentication. </div>
                        <small class="text-muted">Due : 1/11/2017</small>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

<div class="col-lg-8">

<div class="row">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Notification</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content" ng-controller="dashboardComplianceTrend">
                <ol ng-model="Notifications">
                        <li ng-repeat="item in Notifications">
                           <div class="agile-detail">                               
                                  <button type="button"  ng-click="demo1(item.Title,item.Description)" class="btn btn-w-m btn-xs btn-link">{{item.Title | cut:true:25:' ...'}} </button>
                                <p class="pull-right">{{item.Description | cut:true:25:' ...'}}
                               </p>                         
                            </div>                                                      
                        </li>
                    </ol>                 

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Unassigned Tasks</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <ul class="todo-list m-t small-list">
                    <li>
                        <checkbox ng-model="main.checkOne"></checkbox>
                        <span class="m-l-xs">Develop Access Control Policy.</span>
                    </li>
                    <li>
                        <checkbox ng-model="check1"></checkbox>
                        <span class="m-l-xs">Develop Access Control Procedures.</span>

                    </li>
                    <li>
                        <checkbox ng-model="check2"></checkbox>
                        <span class="m-l-xs">Distribute Access Control Policy.</span>
                        <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
                    </li>
                    <li>
                        <checkbox ng-model="main.checkTwo"></checkbox>
                        <span class="m-l-xs">Distribute Access Control Procedures.</span>
                    </li>
                    <li>
                        <checkbox ng-model="check4"></checkbox>
                        <span class="m-l-xs">Review Access Control Policy.</span>
                    </li>
                    <li>
                        <checkbox ng-model="check5"></checkbox>
                        <span class="m-l-xs">Review Access Control Procedures.</span>
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Location : Percentage Of Compliance</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-lg-6">
                        <table class="table table-hover margin bottom">
                            <thead>
                            <tr>
                                <th style="width: 1%" class="text-center">No.</th>
                                <th>Policies and Procedures</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Percentage</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td> Develop Access Control Policy.
                                    </small></td>
                                <td class="text-center small">16 Jun 2014</td>
                                <td class="text-center"><span class="label label-primary">48%</span></td>

                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td> Review Access Control Policy.
                                </td>
                                <td class="text-center small">10 Jun 2014</td>
                                <td class="text-center"><span class="label label-primary">32%</span></td>

                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td> Review Access Control Procedures.
                                </td>
                                <td class="text-center small">12 Jun 2014</td>
                                <td class="text-center"><span class="label label-warning">52%</span></td>

                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td>Distribute Access Control Procedures.</td>
                                <td class="text-center small">22 Jun 2013</td>
                                <td class="text-center"><span class="label label-primary">44%</span></td>
                            </tr>                           
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-6" ng-controller="dashboardMap as map">
                        <div vector-map style="height: 300px;" my-map-data="map.data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


</div>
</div>
<div class="small-chat-box ng-small-chat fadeInRight animated" ng-show="openChat">

    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
            02.19.2015
        </small>
        Small chat
    </div>

    <div class="content" chat-slim-scroll>

        <div class="left">
            <div class="author-name">
                Monica Jackson <small class="chat-date">
                10:02 am
            </small>
            </div>
            <div class="chat-message active">
                Lorem Ipsum is simply dummy text input.
            </div>

        </div>
        <div class="right">
            <div class="author-name">
                Mick Smith
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                Lorem Ipsum is simpl.
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                Alice Novak
                <small class="chat-date">
                    08:45 pm
                </small>
            </div>
            <div class="chat-message active">
                Check this stock char.
            </div>
        </div>
        <div class="right">
            <div class="author-name">
                Anna Lamson
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                The standard chunk of Lorem Ipsum
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                Mick Lane
                <small class="chat-date">
                    08:45 pm
                </small>
            </div>
            <div class="chat-message active">
                I belive that. Lorem Ipsum is simply dummy text.
            </div>
        </div>


    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
                class="btn btn-primary" type="button">Send
        </button> </span></div>
    </div>

</div>
<div id="small-chat" ng-click="openChat = !openChat">

    <span class="badge badge-warning pull-right">5</span>
    <a class="open-small-chat">
        <i class="fa fa-comments"></i>

    </a>
</div>