<div class="modal-body" ng-style="taskDueStatus(DialogTask)">
    <div class = "row">
        <div class = "row">
            <div class = "col-lg-1" style="font-size : 12px; padding-top : 8px">{{DialogTask.Code}}</div>
            <div class = "col-lg-10" style="font-weight:bold;">
                <input type="text" style="font-size:25px" class="form-control no-border" name="TaskTitle" ng-model="DialogTask.Title"  placeholder="Task Title" required />
            </div>
            <div class="col-lg-1 pull-right">
                <button type="button" class="close" ng-click="cancel()">X</button>
            </div>
        </div>
        <br>
        <br
        <div class="row">
            <div class="col-lg-4">
                <ui-select ng-model="ResponsibleUserListDialog.selected" theme="bootstrap" on-select="onSelected($item)">
                    <ui-select-match placeholder="Users">{{$select.selected.FirstName}}</ui-select-match>
                    <ui-select-choices  repeat="item in ResponsibleUserListDialog | filter: $select.search">
                        <div ng-bind-html="item.FirstName | highlight: $select.search"></div>
                        <small ng-bind-html="item.UserName | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class = "col-lg-2 pull-right">
            <button type="button" class="btn btn-info pull-right" ng-click="ok()"><i class="fa fa-save"></i> Save</button></div> 
        </div>
</div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container"  style="background : #293846;">
                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-pencil"></i>
                        </uib-tab-heading>
                        
                        <div class = "col-lg-6">   
                            <br>
                            <div class = "form-horizontal">                                
                                <div class = "form-group">
                                    <label class = "col-md-4 control-label" style="padding-top : 10px">Task State</label>
                                    <div class = "col-md-6">
                                        <input type="text" class="form-control no-border hidden" name="TaskState" ng-model="DialogTask.TaskState.Name"  placeholder="Task State"/>
                                         <div class="btn-group hidden" role="group" aria-label="...">
                                            <button type="button" class="btn btn-sm btn-primary">New</button>
                                              <button type="button" class="btn btn-sm btn-primary">In Progress</button>
                                              <button type="button" class="btn btn-sm btn-primary">Completed</button>
                                        </div>
                                          <select class="form-control m-b" ng-model="TaskStates.Value" ng-options="TaskState.Value as TaskState.Name for TaskState in TaskStates.Values" ng-change="update(TaskStates.Value)"></select>
                                        <select class="form-control m-b hidden" name="Name" ng-model="DialogTask.TaskState.Name" placeholder="Task State">
                                            <option ng-repeat="item in TaskStates" value="{{item.Value}}">{{item.Name}}</option>
                                    </select>   
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <label class = "col-md-4 control-label" style="padding-top : 10px">Due</label>
                                    <div class = "col-md-6">
                                        <input type="text" class="form-control no-border" name="TaskDue" ng-model="DialogTask.Due"  placeholder="Task Due" formatted-date format="medium"/>
                                    </div>
                                </div>
                                <div class = "form-group hidden">
                                    <label class = "col-md-2 control-label">Created By</label>
                                    <div class = "col-md-10">
                                        <input type="text" class="form-control no-border" name="CreatedBy" ng-model="DialogTask.CreatedByUserId"  placeholder="Created By" required />
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <label class = "col-md-4 control-label" style="padding-top : 10px">Link</label>
                                    <div class = "col-md-6">
                                        <input type="text" class="form-control no-border" name="Link" ng-model="DialogTask.Link"  placeholder="Link" />
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <uib-accordion close-others="true">                                        
                                        <uib-accordion-group heading="Description" is-open="true">
                                           <textarea class="form-control no-border" rows="4" name="Decsription" ng-model="DialogTask.Description" ></textarea>
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                             <br>
                            <uib-accordion close-others="true">
                                        <uib-accordion-group heading="Business Control Profile" is-open="true">
                                            <br>
                                            Working Set : {{DialogTask.WorkingSet.Name}} <br><br>
                                            Code : {{DialogTask.Control.Code}} <br><br>
                                            Sorce : {{DialogTask.Control.DefinitionSource.Source}} <br><br>
                                            Control Set : {{DialogTask.ControlSetTitle}}<br>
                                        </uib-accordion-group>
                                        <uib-accordion-group heading="Control Catalog">
                                            <br>
                                            Working Set : {{DialogTask.WorkingSet.Name}} <br><br>
                                            Code : {{DialogTask.Control.Code}} <br><br>
                                            Sorce : {{DialogTask.Control.DefinitionSource.Source}} <br><br>
                                            Control Set : {{DialogTask.ControlSetTitle}} <br>
                                        </uib-accordion-group>
                                        <uib-accordion-group heading="Control">
                                            <br>
                                            Working Set : {{DialogTask.WorkingSet.Name}} <br><br>
                                            Code : {{DialogTask.Control.Code}} <br><br>
                                            Sorce : {{DialogTask.Control.DefinitionSource.Source}} <br><br>
                                            Control Set : {{DialogTask.ControlSetTitle}} <br>
                                        </uib-accordion-group>
                                        <uib-accordion-group heading="Task Definition">
                                            <br>
                                            Working Set : {{DialogTask.WorkingSet.Name}} <br><br>
                                            Code : {{DialogTask.Control.Code}} <br><br>
                                            Sorce : {{DialogTask.Control.DefinitionSource.Source}} <br><br>
                                            Control Set : {{DialogTask.ControlSetTitle}}<br>
                                        </uib-accordion-group>   
                                    </uib-accordion>
                        </div>
                    </uib-tab>
                    
                    <uib-tab>
                            <uib-tab-heading>
                                <i class="fa fa-exchange"></i>
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div class="wrapper wrapper-content">
                                    <div class="row animated fadeInRight">
                                        <div class="col-lg-12">
                                            <div class="ibox float-e-margins">
                                                <div class="text-center float-e-margins p-md">
                                                </div>
                                                <div class="ibox-content" id="ibox-content">
                                                    <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
                                                        <div class="vertical-timeline-block">
                                                            <div class="vertical-timeline-icon navy-bg">
                                                                <i class="fa fa-file-text"></i>
                                                            </div>
                                                            <div class="vertical-timeline-content">
                                                                <h2>AC-1 Access Control Policy and Procedures</h2><p></p>
                                                                <a href="#" class="btn btn-sm btn-primary"> More info</a>
                                                                <span class="vertical-date"><br/><small></small></span>
                                                            </div>
                                                        </div>
                                                        <div class="vertical-timeline-block">
                                                            <div class="vertical-timeline-icon blue-bg">
                                                                <i class="fa fa-file-text"></i>
                                                            </div>
                                                            <div class="vertical-timeline-content">
                                                                <h2>AC-2 Account Management</h2><p></p><a href="#" class="btn btn-sm btn-success"> More info </a>
                                                                <span class="vertical-date"><br/><small></small></span>
                                                            </div>
                                                        </div>
                                                        <div class="vertical-timeline-block">
                                                            <div class="vertical-timeline-icon lazur-bg"><i class="fa fa-file-text"></i>
                                                            </div>
                                                            <div class="vertical-timeline-content"><h2>AU-2 Audit Events</h2><p></p>
                                                                <a href="#" class="btn btn-sm btn-info">Read more</a>
                                                                <span class="vertical-date"> <br/><small></small></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        
                        <uib-tab>
                            <uib-tab-heading>
                                <i class="fa fa-comment-o"></i>
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title"><h5>Timeline</h5>
                                            <span class="label label-primary">Meeting today</span>
                                            <div ibox-tools></div>
                                        </div>
                                        <div class="ibox-content inspinia-timeline">
                                            <div class="timeline-item">
                                                <div class="row">
                                                    <div class="col-xs-3 date">
                                                        <i class="fa fa-briefcase"></i>6:00 am<br/>
                                                        <small class="text-navy">2 hour ago</small>
                                                    </div>
                                                    <div class="col-xs-7 content no-top-border">
                                                        <p class="m-b-xs"><strong>Meeting</strong></p>
                                                        <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-item">
                                                <div class="row">
                                                    <div class="col-xs-3 date">
                                                        <i class="fa fa-file-text"></i>7:00 am<br/>
                                                        <small class="text-navy">3 hour ago</small>
                                                    </div>
                                                    <div class="col-xs-7 content">
                                                        <p class="m-b-xs"><strong>Send documents to Mike</strong></p><p>Please find the document attached.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-item">
                                                <div class="row">
                                                    <div class="col-xs-3 date"><i class="fa fa-coffee"></i>8:00 am<br/>
                                                    </div>
                                                    <div class="col-xs-7 content">
                                                        <p class="m-b-xs"><strong>Coffee Break</strong></p>
                                                        <p>Please find the document attached.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-item">
                                                <div class="row">
                                                    <div class="col-xs-3 date">
                                                        <i class="fa fa-phone"></i>11:00 am<br/><small class="text-navy">21 hour ago</small>
                                                    </div>
                                                    <div class="col-xs-7 content">
                                                        <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p><p>Please find the document attached.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        
                        <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-history"></i>
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Cyber Security Program Deployment</h5>
                                            <div ibox-tools></div>
                                        </div>
                                        <div class="ibox-content">
                                            <table class="table table-hover no-margins">
                                                <thead>
                                                    <tr>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                        <th>User</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <small>Pending...</small>
                                                        </td>
                                                        <td><i class="fa fa-clock-o"></i> 11:20pm</td>
                                                        <td>Samantha</td>
                                                        <td class="text-navy"><i class="fa fa-level-up"></i> 24%</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="label label-warning">Canceled</span></td>
                                                        <td><i class="fa fa-clock-o"></i> 10:40am</td>
                                                        <td>Monica</td>
                                                        <td class="text-navy"><i class="fa fa-level-up"></i> 66%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <small>Pending...</small>
                                                        </td>
                                                        <td><i class="fa fa-clock-o"></i> 01:30pm</td>
                                                        <td>John</td>
                                                        <td class="text-navy"><i class="fa fa-level-up"></i> 54%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <small>Pending...</small>
                                                        </td>
                                                        <td><i class="fa fa-clock-o"></i> 02:20pm</td>
                                                        <td>Agnes</td>
                                                        <td class="text-navy"><i class="fa fa-level-up"></i> 12%</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="label label-primary">Completed</span></td>
                                                        <td><i class="fa fa-clock-o"></i> 04:10am</td>
                                                        <td>Amelia</td>
                                                        <td class="text-navy"><i class="fa fa-level-up"></i> 66%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <small>Pending...</small>
                                                        </td>
                                                        <td><i class="fa fa-clock-o"></i> 12:08am</td>
                                                        <td>Damian</td>
                                                        <td class="text-navy"><i class="fa fa-level-up"></i> 23%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

<div class="modal-footer">
<!--
    <div class = "row">
        <div class = "form-group">
            <label class = "col-md-2 control-label" style="padding-top : 10px">Working Set</label>
            <div class = "col-md-10">
                <button popover-placement="right" uib-popover="Working Set : {{DialogTask.WorkingSet.Name}} Code : {{DialogTask.Control.Code}} Sorce : {{DialogTask.DefinitionSource.Source}}" class="btn btn-link pull-left">{{DialogTask.WorkingSet.Name}}</button>
            </div>
        </div>
        <div class = "form-group">
            <label class = "col-md-2 contrrol-label" style="padding-top : 10px">Control Set</label>
            <div class = "col-md-10">
                <button popover-placement="right" uib-popover="Working Set : {{DialogTask.WorkingSet.Name}} Code : {{DialogTask.Control.Code}} Sorce : {{DialogTask.DefinitionSource.Source}}" class="btn btn-link pull-left">{{DialogTask.ControlSetTitle}}</button>
            </div>
        </div>
        <div class = "form-group">
            <label class = "col-md-2 control-label" style="padding-top : 10px">Control</label>
            <div class = "col-md-10 pull-left">                 
                 <button popover-placement="right" uib-popover="Working Set : {{DialogTask.WorkingSet.Name}} Code : {{DialogTask.Control.Code}} Sorce : {{DialogTask.DefinitionSource.Source}}" class="btn btn-link pull-left">{{DialogTask.ControlTitle}}</button>
            </div>
        </div>
        <div class = "corm-group">
            <label class = "col-md-2 control-label" style="padding-top : 10px">Task Definition</label>
            <div class = "col-md-10">
                <button popover-placement="right" uib-popover="Working Set : {{DialogTask.WorkingSet.Name}} Code : {{DialogTask.Control.Code}} Sorce : {{DialogTask.DefinitionSource.Source}}" class="btn btn-link pull-left">{{DialogTask.Title}}</button>
            </div>
        </div>
    </div>
-->
    <div class="row">
       
    </div>
    </div>
</div>


